$primary-color: hsl(300, 43%, 22%); // Very Dark Magenta
$secondary-color: hsl(333, 80%, 67%); // Soft Pink
$light-neutral-color: hsl(300, 24%, 96%); // Light Grayish Magenta
$dark-neutral-color: hsl(303, 10%, 53%);

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return $dark-neutral-color; // Dark Grayish Magenta
  } @else {
    @return $light-neutral-color; // Light Grayish Magenta
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

@mixin media-lg {
  @media screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
