@include media-lg {
  .main {
    background: url(../images/bg-pattern-top-desktop.svg) no-repeat top left,
      url(../images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
  }

  .container {
    max-width: 70%;
  }

  .social-proof {
    padding: 3rem 0;
    max-width: 100%;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-content {
      text-align: left;
      width: 40%;
      animation: right 0.75s ease-out;

      h2 {
        font-size: 3rem;
        line-height: 1;
      }
    }

    &-ratings {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    &-rating {
      width: 90%;
      align-items: center;
      display: flex;
      padding: 1.5rem;

      &-stars {
        margin-bottom: 0;
        margin-right: 1.5rem;
      }

      &-star {
        margin: 0 0.1rem;
      }
    }

    &-comments {
      display: flex;
      height: 320px;
    }

    &-comment:nth-child(2) {
      margin: 0 1.5rem 1rem 1.5rem;
    }
  }

  .flex-1 {
    align-self: flex-start;
  }

  .flex-2 {
    align-self: center;
  }

  .flex-3 {
    align-self: flex-end;
  }

  .attribution {
    max-width: 100%;
  }

  .left-1 {
    animation: left 0.5s ease-out;
  }

  .left-2 {
    animation: left 1s ease-out;
  }

  .left-3 {
    animation: left 1.5s ease-out;
  }

  .up-1 {
    animation: up 0.5s ease-out;
  }

  .up-2 {
    animation: up 1s ease-out;
  }

  .up-3 {
    animation: up 1.5s ease-out;
  }
}

@keyframes up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
